{% extends 'layout.html' %}

{% block content %}
<br><br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="card">
				<h5 class="card-header">
					<center>Our project</center>
				</h5>
				<div class="card-body">
					<p class="card-text">
            <center>
						Thomas BOUCHET and Mathis VAYNE are 2nd year engineering students in engineering and health technologies specialized in cybersecurity at EPISEN, UPEC and they had the project to develop a Pentesting lab on known security vulnerabilities.
            <br>
            <br>
            This student team was born following different cooperation on previous projects but also thanks to their attraction for cybersecurity and everything that surrounds it.
            <br>
            <br>
            So they had the idea to develop a platform similar to the Cisco Networking one where it would be possible to access a course part and a practical part.
            <br>
            <br>
            This course part will therefore present the vulnerability in detail but also how it was used while the practical part will allow you to test this vulnerability directly by yourself while being guided.
            <br>
            <br>
            </center>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}
